<head>
	<title><%= class_name %> [edit]</title>
</head>
<body>
	<form:form action="<%= path %>/update" commandName="<%= model_parameter_name %>">
		<form:hidden path="id"/>
		<%%@include file="form.jsp"%>
	</form:form>
</body>

<a href="<%= path %>">Back</a>
